.description-h1-before-content {
  display: block;
  font-size: 1.0rem;
  background-color: rgba(128, 127, 127, 0.113);
  color: bisque;
  opacity: initial;
  text-align: center;
  margin-top: 5rem;
  border-radius: 7px;
}

.projects-myworks h3 {
  color: #ffe4c4fa;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 5%;
  background-color: #ffe4c410;
}

.projects-myworks img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.projects-myworks a,
a:hover,
a:focus,
a:active {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #ffe4c4;
  display: block;
  margin-top: 2.0rem;
  border-radius: 5rem;
}

.projects-myworks img {
  width: center;
  margin: center;
  max-width: 350px;
  max-height: 150px;
  width: auto;
  height: auto;
  border: 5rem;
}

.projects-myworks img {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-myworks img:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(4.7);
}

.footer {
  font-size: 1rem;
  margin-top: 300px;
  text-align: center;
  font-weight: 200;
  background-color: #ffe4c410;
  color: #ffe4c4fa;
  border-radius: 5px;
}

@media screen and (max-width: 357px) {
  .projects-myworks, h1, h3, img {
    max-width:500px;
    margin-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    max-height: 1450px;
    width: auto;
    height: auto;
  }
}


@media screen and (max-width: 210px) {
  .projects-myworks img {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.8);
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 364px) {
  .projects-myworks img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 410px) {
  .projects-myworks img {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.2);
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 520px) {
  .projects-myworks img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(0.3);
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 674px) {
  .projects-myworks img {
    -moz-transform: scale(1.9);
    -webkit-transform: scale(1.9);
    transform: scale(1);
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1452px) {
  .projects-myworks img {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.7);
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 184px) {
  .projects-myworks img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    max-width:50px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

@media screen and (width: 240px) {
  .projects-myworks, img{
    display: block;
    max-width: 250%;
    max-height: 150%;
  }
}

@media screen and (width: 240px) {
  .projects-myworks, footer{
    display: block;
    max-width: 250%;
    max-height: 250%;
  }
}


@media screen and (max-width: 768px) {
  .projects-myworks,h1, div{
    font-size: 20px;
    max-width:auto;
    max-height:auto;
    width: auto;
    height: auto;
  }
}

