.description-h1-before-content {
  display: block;
  font-size: 1.0rem;
  background-color: rgba(128, 127, 127, 0.113);
  color: bisque;
  opacity: initial;
  text-align: center;
  margin-top: 5rem;
  border-radius: 7px;
}

.projects-myworks h3 {
  color: #ffe4c4fa;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 5%;
  background-color: #ffe4c410;
}

.projects-myworks img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.projects-myworks a,
a:hover,
a:focus,
a:active {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #ffe4c4;
  display: block;
  margin-top: 2.0rem;
  border-radius: 5rem;
}

.projects-myworks img {
  width: center;
  margin: center;
  max-width: 350px;
  max-height: 150px;
  width: auto;
  height: auto;
  border: 5rem;
}

.projects-myworks img {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-myworks img:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(2);
}

.footer {
  text-align: center;
  margin-top: 2rem;
  font-weight: 200;
  background-color: #ffe4c410;
  color: #ffe4c4fa;
  border-radius: 5px;
}

@media screen and (width: 240px) {
  .projects-myworks, img {
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}

@media screen and (width: 240px) {
  .projects-myworks, h1{
    display: block;
    max-height: 0%;
    font-size: 100%;
  }
}

@media screen and (width: 240px) {
  .projects-myworks, footer{
    display: block;
    max-width: 250%;
    max-height: 250%;
  }
}

@media screen and (width: 320px) {
  .projects-myworks, footer{
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .projects-myworks,h1, div{
    font-size: 20px;
    max-width:auto;
    max-height:auto;
    width: auto;
    height: auto;
  }
}

